@model EmployeeApp.Web.Models.EmployeeModel
@{
    ViewData["Title"] = "Delete Employee";
}
<div class="grad-head">
<h1>Are you sure you want delete this record</h1>
</div>
<div class="row">
    <form asp-action="Delete">
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EmpId)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EmpId)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EmpName)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EmpName)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Age)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Age)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Salary)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Salary)</dd>
        </dl>
        <input type="submit" class="btn btn-danger" value="Delete">        
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
