@model IEnumerable<EmployeeApp.Web.Models.EmployeeModel>
@{
    ViewData["Title"] = "Employee List";
}
<div class="grad-head">
<h1>Employee List</h1>
</div>
<p>
    <a asp-action="create" class="btn btn-success">Create New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.ActionLink("Edit","Edit", new {id = item.EmpId}, new { @class="btn btn-primary"})
                    @Html.ActionLink("Details","Details", new {id = item.EmpId}, new { @class="btn btn-warning"})
                    @Html.ActionLink("Delete","Delete", new {id = item.EmpId}, new { @class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
